.login-background {
    width: 100%;
    height: 100%;
    background: url(/background2.png);
    background-size: cover;
    background-position: 0;
}

.login-root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.2), black);
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 136, 93, 0.5);
    backdrop-filter: blur(3px);
    width: 450px;
    height: 250px;
    border-radius: 12px;
}

.login-box input {
    border: none;
    border-radius: 20px;
    background-color: rgb(95, 50, 34);
    color: white;
    outline: none;
    padding: 14px 0px 14px 8px;
    width: 90%;
    margin-bottom: 20px;
}

.login-box button {
    border: none;
    border-radius: 6px;
    background-color: rgb(95, 50, 34);
    color: white;
    padding: 8px 14px 8px 14px;
}

.recent {
    display: flex;
    justify-content: center;
    align-items: center;
}