.episode-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    height: 100%;
    background: url(/background.jpg);
    background-size: cover;
    padding: 0;
}

.episode-select-overlay {
    background: linear-gradient(black, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    margin-top: 100px;
}

li {
    display: flex;
}

.ep {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
}