/* Estilos para o botão de navegação */
.NavButton {
    border: 0;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    font-size: medium;
    transition: background-color 0.3s;
    cursor: pointer;
}

.NavButton:hover {
    background-color: rgb(141, 62, 34);
}
