* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 100%;
}

.sidebar {
  background-color: rgb(202, 91, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}